* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grid {
    display: grid;
    grid-template-columns: 100px 500px 200px;
    grid-template-rows: repeat(3, 100px);
    margin: 200px; 
}

.header {
    grid-area: 1/1/2/4;
    border-bottom:3px solid red;
    background-color: rgb(221, 130, 130);
}

.menu {
    grid-area: 2/1/4/2;
    border-right:3px solid red;
    background-color: rgb(221, 130, 130);
}

.main {
    grid-area: 2/2/3/3;
    background-color: rgb(221, 130, 130);
}

.right {
    grid-area: 2/3/3/4;
    border-left:3px solid red;
    background-color: rgb(221, 130, 130);
}

.footer {
    grid-area: 3/2/4/4;
    border-top:3px solid red;
    background-color: rgb(221, 130, 130);
}

div>div {
font-size: 150%;
   text-align: center;
   padding-top: 20px;
}

@media screen AND (max-width: 640px) {

    #grid {
        display: grid;
        grid-template-columns: 500px;
        grid-template-rows: repeat(5, 100px);
        margin: 200px; 
        justify-content: center;
    }
    .header {
        grid-area: 1/1/2/2;
        border:3px solid red;
        background-color: rgb(221, 130, 130);
    }
    
    .menu {
        grid-area: 2/1/3/2;
        border-left:3px solid red;
        background-color: rgb(221, 130, 130);
    }
    
    .main {
        border:3px solid red;
        grid-area: 3/1/4/2;
        background-color: rgb(221, 130, 130);
    }
    
    .right {
        grid-area: 4/1/5/2;
        border-right:3px solid red;
        background-color: rgb(221, 130, 130);
    }
    
    .footer {
        grid-area: 5/1/6/2;
        border:3px solid red;
        background-color: rgb(221, 130, 130);
    }
    
}